@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}



        <h1>ViewBag.Title</h1>
        <p>@Html.Raw(ViewBag.description)</p>
        @if (ViewBag.artists.Length > 0)
        {
            <ul>
                @foreach (var artist in ViewBag.artists)
                {
                    <li>@artist</li>
                }
            </ul>
        }

